pip install pandas requests beautifulsoup4 openpyxl
(Install when necessary)

In [123]:
#necessary library to import
import requests
from bs4 import BeautifulSoup
import pandas as pd

In [143]:
# Wikipedia URL to scrape data from
wiki_url = "https://en.wikipedia.org/wiki/List_of_countries_by_population_(United_Nations)"

# Send a GET request to the URL
response = requests.get(wiki_url)

# Parse the HTML content of the page
soup = BeautifulSoup(response.content, 'html.parser')

# Find the table containing the data
table = soup.find("table", {"class": "wikitable"})

# Extract the table headers
headers = [header.text.strip() for header in table.find_all("th")]

# Extract the table rows
rows = []
for row in table.find_all("tr")[1:]:
    rows.append([cell.text.strip() for cell in row.find_all("td")])

# Create a DataFrame from the extracted data
df = pd.DataFrame(rows, columns=headers)

# Save DataFrame to an Excel file
excel_file = "population_data.xlsx"
df.to_excel(excel_file, index=False)

print("Data has been extracted and saved to", excel_file)

Data has been extracted and saved to population_data.xlsx

In [145]:
# Load the Excel file into a DataFrame
excel_file = "population_data.xlsx"
df = pd.read_excel(excel_file)

In [147]:
# Remove duplicate rows
df = df.drop_duplicates()

In [149]:
# Handle missing values
df = df.dropna()

In [151]:
df.dtypes

Location                       object
Population(1 July 2022)        object
Population(1 July 2023)        object
Change                         object
UN Continental Region[1]       object
UN Statistical Subregion[1]    object
dtype: object

In [283]:
df["Location"]=df["Location"].astype(pd.StringDtype())

In [285]:
# Convert the column to string type before using the .str accessor
df['Population(1 July 2022)'] = df['Population(1 July 2022)'].astype(str).str.replace(',', '').astype(int)

In [291]:
df['Population(1 July 2023)'] = df['Population(1 July 2023)'].astype(str).str.replace(',', '').astype(int)

In [293]:
df["Change"] = df["Change"].astype(str).str.replace('âˆ’', '-').str.replace('%', '').astype(float)

In [295]:
df["UN Continental Region[1]"]=df["UN Continental Region[1]"].astype(pd.StringDtype())

In [297]:
df["UN Statistical Subregion[1]"]=df["UN Statistical Subregion[1]"].astype(pd.StringDtype())

In [299]:
df.dtypes

Location                       string[python]
Population(1 July 2022)                 int64
Population(1 July 2023)                 int64
Change                                float64
UN Continental Region[1]       string[python]
UN Statistical Subregion[1]    string[python]
location                       string[python]
dtype: object

In [301]:
df

,Location,Population(1 July 2022),Population(1 July 2023),Change,UN Continental Region[1],UN Statistical Subregion[1],location
1,India,1428627663,1428627663,0.8100,Asia,Southern Asia,India
2,China[a],1425671352,1425671352,-0.0200,Asia,Eastern Asia,China[a]
3,United States,339996564,339996564,0.5000,Americas,Northern America,United States
4,Indonesia,277534123,277534123,0.7400,Asia,South-eastern Asia,Indonesia
5,Pakistan,240485658,240485658,1.9800,Asia,Southern Asia,Pakistan
...,...,...,...,...,...,...,...
233,Montserrat (United Kingdom),4387,4387,-0.0700,Americas,Caribbean,Montserrat (United Kingdom)
234,Falkland Islands (United Kingdom),3791,3791,0.2900,Americas,South America,Falkland Islands (United Kingdom)
235,Niue,1935,1935,0.0500,Oceania,Polynesia,Niue
236,Tokelau (New Zealand),1893,1893,1.1800,Oceania,Polynesia,Tokelau (New Zealand)
238,Pitcairn Islands (United Kingdom),45,45,-18.1818,Oceania,Polynesia,Pitcairn Islands (United Kingdom)

In [314]:
#The data converted loaded and saved as output file 
# Save the converted DataFrame to a new Excel file
output_file_path = 'Output.xlsx'
df.to_excel(output_file_path, index=False)

print(f"DataFrame saved to {output_file_path}")

DataFrame saved to Output.xlsx