In [26]:
import pandas as pd

In [98]:
#Extracting data from excel file 

def extract_data(file_path: str, sheet_name: str) -> pd.DataFrame:
    return pd.read_excel(file_path, sheet_name=sheet_name)

In [100]:
input_file="Input_data.xlsx"

In [102]:
raw_data=extract_data(input_file, "Sheet1")

In [104]:
print("Data Extracted:")

Data Extracted:

In [110]:
raw_data.head()

  Catogery Product  Value
0        A  Apple      55
1        B    Ball     60
2        C     Cat     75

In [112]:
#load Data
loaded_data=raw_data.copy()

In [114]:
print("Data loaded:")

Data loaded:

In [116]:
loaded_data.head()

  Catogery Product  Value
0        A  Apple      55
1        B    Ball     60
2        C     Cat     75

In [118]:
loaded_data["Value"]

0    55
1    60
2    75
Name: Value, dtype: int64

In [120]:
# Step 3: Transform Data
def transform_data(df: pd.DataFrame) -> pd.DataFrame:
    # Filter rows where a column value meets a condition
    df_filtered = df[loaded_data["Value"] >55]

    # # Add a new column based on existing data
    # df_filtered['NewColumn'] = df_filtered['ColumnName'] * 2

    # More transformations can be added here
    return df_filtered

In [122]:
transformed_data = transform_data(loaded_data)

print("Data Transformed:")
transformed_data.head()

Data Transformed:

  Catogery Product  Value
1        B    Ball     60
2        C     Cat     75

In [124]:
# Step 4: Load Transformed Data to Excel
def load_data(df: pd.DataFrame, output_file: str, sheet_name: str):
    df.to_excel(output_file, sheet_name=sheet_name, index=False)

output_file = 'output_data.xlsx'
load_data(transformed_data, output_file, 'ProcessedData')

In [126]:
print(f"Transformed data written to {output_file}")

Transformed data written to output_data.xlsx