In [4]:
pip install pandas

Looking in links: /usr/share/pip-wheels
Collecting pandas
  Downloading pandas-2.0.3-cp38-cp38-manylinux_2_17_x86_64.manylinux2014_x86_64.whl.metadata (18 kB)
Requirement already satisfied: python-dateutil>=2.8.2 in /home/a986faf5-2645-4454-87ff-7f69270e8241/.conda/envs/airflow_env/lib/python3.8/site-packages (from pandas) (2.9.0.post0)
Requirement already satisfied: pytz>=2020.1 in /home/a986faf5-2645-4454-87ff-7f69270e8241/.conda/envs/airflow_env/lib/python3.8/site-packages (from pandas) (2024.1)
Requirement already satisfied: tzdata>=2022.1 in /home/a986faf5-2645-4454-87ff-7f69270e8241/.conda/envs/airflow_env/lib/python3.8/site-packages (from pandas) (2024.1)
Collecting numpy>=1.20.3 (from pandas)
  Downloading numpy-1.24.4-cp38-cp38-manylinux_2_17_x86_64.manylinux2014_x86_64.whl.metadata (5.6 kB)
Requirement already satisfied: six>=1.5 in /home/a986faf5-2645-4454-87ff-7f69270e8241/.conda/envs/airflow_env/lib/python3.8/site-packages (from python-dateutil>=2.8.2->pandas) (1.16.0)
Downloading pandas-2.0.3-cp38-cp38-manylinux_2_17_x86_64.manylinux2014_x86_64.whl (12.4 MB)
   ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 12.4/12.4 MB 41.2 MB/s eta 0:00:00 0:00:01[36m0:00:01
Downloading numpy-1.24.4-cp38-cp38-manylinux_2_17_x86_64.manylinux2014_x86_64.whl (17.3 MB)
   ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 17.3/17.3 MB 22.3 MB/s eta 0:00:00 0:00:01[36m0:00:01
Installing collected packages: numpy, pandas
Successfully installed numpy-1.24.4 pandas-2.0.3
Note: you may need to restart the kernel to use updated packages.

In [14]:
pip install lxml

Looking in links: /usr/share/pip-wheels
Collecting lxml
  Downloading lxml-5.2.2-cp38-cp38-manylinux_2_28_x86_64.whl.metadata (3.4 kB)
Downloading lxml-5.2.2-cp38-cp38-manylinux_2_28_x86_64.whl (5.1 MB)
   ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 5.1/5.1 MB 39.4 MB/s eta 0:00:00 0:00:0136m0:00:01
Installing collected packages: lxml
Successfully installed lxml-5.2.2
Note: you may need to restart the kernel to use updated packages.

In [2]:
import pandas as pd

In [16]:
HTML_content ="""
<table>
  <thead>
    <tr>
      <th>Year</th>
      <th>Make</th>
      <th>Model</th>
      <th>Price</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td>2020</td>
      <td>Tesla</td>
      <td>Model S</td>
      <td>$69,420</td>
    </tr>
    <tr>
      <td>2019</td>
      <td>Ford</td>
      <td>Mustang</td>
      <td>$55,300</td>
    </tr>
    <tr>
      <td>2018</td>
      <td>Chevrolet</td>
      <td>Camaro</td>
      <td>$42,000</td>
    </tr>
  </tbody>
</table>
"""
# Use pandas to read the HTML table
df_list=pd.read_html(HTML_content)
df=df_list[0]

In [18]:
df

   Year       Make    Model    Price
0  2020      Tesla  Model S  $69,420
1  2019       Ford  Mustang  $55,300
2  2018  Chevrolet   Camaro  $42,000

In [20]:
pip install requests

Looking in links: /usr/share/pip-wheels
Requirement already satisfied: requests in /home/a986faf5-2645-4454-87ff-7f69270e8241/.conda/envs/airflow_env/lib/python3.8/site-packages (2.31.0)
Requirement already satisfied: charset-normalizer<4,>=2 in /home/a986faf5-2645-4454-87ff-7f69270e8241/.conda/envs/airflow_env/lib/python3.8/site-packages (from requests) (3.3.2)
Requirement already satisfied: idna<4,>=2.5 in /home/a986faf5-2645-4454-87ff-7f69270e8241/.conda/envs/airflow_env/lib/python3.8/site-packages (from requests) (3.7)
Requirement already satisfied: urllib3<3,>=1.21.1 in /home/a986faf5-2645-4454-87ff-7f69270e8241/.conda/envs/airflow_env/lib/python3.8/site-packages (from requests) (2.2.1)
Requirement already satisfied: certifi>=2017.4.17 in /home/a986faf5-2645-4454-87ff-7f69270e8241/.conda/envs/airflow_env/lib/python3.8/site-packages (from requests) (2024.2.2)
Note: you may need to restart the kernel to use updated packages.

In [32]:
from bs4 import BeautifulSoup
import requests

In [62]:
# Step 1: Define the URL of the webpage
url = 'https://en.wikipedia.org/wiki/Index_of_Economic_Freedom'

In [64]:
# Step 2: Fetch the webpage content
response = requests.get(url)

In [66]:
# Check if the request was successful
if response.status_code == 200:
    html_content = response.text
else:
    raise Exception(f"Failed to fetch the webpage: {response.status_code}")

In [68]:
# Step 3: Parse the HTML content using BeautifulSoup
soup = BeautifulSoup(html_content, 'html.parser')
# print(soup)

In [76]:
# Find the table element (the first table on the page in this case)
table = soup.find('table', {'class': 'wikitable'})

In [78]:
# Step 4: Convert the HTML table to a pandas DataFrame
df = pd.read_html(str(table))[0]

In [86]:
df

         Country  Rank  Score  Change
0      Singapore     1   83.5     0.4
1    Switzerland     2   83.0     0.8
2        Ireland     3   82.0     NaN
3         Taiwan     4   80.7     0.6
4    New Zealand     5   78.9     1.7
..           ...   ...    ...     ...
172     Zimbabwe   173   33.1     6.4
173        Sudan   174   32.0     7.1
174         Cuba   175   29.5     1.4
175    Venezuela   176   24.8     0.1
176  North Korea   177    4.2     1.7

[177 rows x 4 columns]

In [152]:

# Save to text file
file_path = 'Statistics.txt'
df.to_csv(file_path, index=False, sep=',')

print(f"DataFrame saved to '{file_path}'")

DataFrame saved to 'Statistics.txt'